/* * COLOR */
:root {
    --white: #FFFFFF;
    --black: #020715;
    --light-gray: #919191;
    --dark-gray: #585858;
    --light-green: #B4E7A7;
    --green: #8FD77C;
    --dark-green: #64B74E;
    --very-dark-green: #429A2B;
}

/* * PADDING */
.pb10 { padding-bottom: 10px }
.pb20 { padding-bottom: 20px }
.pb30 { padding-bottom: 30px }
.pb40 { padding-bottom: 40px }
.pb50 { padding-bottom: 50px }

/* * LOGO */
.img-logo { position: relative; }
.img-logo.lg { width: 150px; }
.img-logo.mid { width: 100px; }
.img-logo.sm { width: 50px; }

/* * BUTTON */
.a-btn { display: inline-block; width: 100%; padding: 10px 0px; font-size: 15px; border-radius: 10px; }
.a-text-btn { color: var(--light-gray); }

/* * LAYOUT */
.menu { width: 300px; height: 100%; float: left; }
.header { width: calc(100% - 300px); height: 50px; float: right; }
.contents { width: calc(100% - 300px); height: calc(100% - 50px); float: right; }